.banner_part{
    height: 650px;
	width: 100% !important;
    position: relative;
    overflow: hidden;
    background-image: url(../img/banner_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
	opacity: 1;
	background-color: rgb(0, 0, 0);
	
}
.banner_text{
        display: table;
        width: 100%;
        height: 880px;
}
.banner_text_iner{
	width: 100% !important;
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 20% !important;
}
.client_review {
    background-color: #1f7348;
}
.single_review_slider {
    background-color: #6aaab7 !important;
}
.footer-area{
	background-color: #305e51 !important;
	padding: 5% 0% 5% !important;
    position: relative;
}
h3 {
	font-size: 200% !important; 
	font-weight: 300;
	color: #21473c !important;
	font-family: 'Basic';
	font-size: 200% !important;
}
#p1{
	font-size: 24px;
	color: #ffffff !important;
}

h6{
	color: #1f7348 !important;
	font-family: 'Basic';
	font-size: 175% !important;
}
h4{
	font-size: 200% !important; 
	font-weight: 300;
	color: #fff !important;
	font-family: 'Basic';
	font-size: 200% !important;

}
.texto1{
	color: #48a16a !important;
}
.texto2{
	color: #ffffff !important;
}
.btn_1{
	color: #ffffff;
	margin-top: 2%;
	background-color: #48a16a;
	padding: 1.5% 6%;
	border-color: #48a16a;
	border-radius: 60px;
}
.btn_1:hover{
	background-color: #73716d;
}
#a1{
	color: #ffffff !important;
	font-family: 'Basic' !important;
	font-size: 125% !important;
}
.footer-img{
	float: left;
	width: 40%;
	line-height: 20%;
	padding: 3% 0% 3%;
}
#pb{
	margin-bottom: 7%;
}
.footer-area .single-footer-widget .click-btn{
	background-color: #6aaab7 !important;
    color: #ffffff !important;
}
.footer-area .footer_icon span {
    color: #6aaab7 !important;
}	
.far .fa-paper-plane {
	text-align: center;
}	