.btn_12{
	background-color: #ffffff !important;
	color: #2a7d4a !important;
	font-family: 'Basic' !important;
	font-weight : bold !important;
	font-size : 185% !important;
}
.btn_12:hover{
		color: #80d78e !important;
}
.nav-link{
	color: #73716d !important;
	font-family: 'Basic' !important;
	font-weight : normal !important;
	font-size : 150% !important;
}
.nav-link:hover{
		color: #48a16a !important;
		}

.client_review .owl-nav button{
	background-color: #1f7348 !important;
	color: #ffffff !important;
}
.place_btn{
	background-color: #1f7348 !important;
	color: #ffffff !important;
	display: inline-block;
    padding: 10px 25px;
	text-transform: capitalize;
    margin-bottom: 14px;
	background: #1f7348;
	border: 0;
	font-size: 18px;
	border-radius: 4px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.place_btn2{
	background-color: #1f7348 !important;
	color: #ffffff !important;
	display: inline-block;
    padding: 10px 25px;
	text-transform: capitalize;
    margin-bottom: 14px;
	background: #1f7348;
	border: 0;
	font-size: 18px;
	border-radius: 4px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popup{
	width: 450px;
	height: 330px;
	background: #ffff;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	text-align: center;
	padding: 0 30px 30px;
	color: #1f7348;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
}

.open-popup {
	visibility: visible;
	top: 45%;
	transform: translate(-50%, -50%) scale(1);
}
.popup img{
	width: 100px;
	margin-top: -50px;
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	
}
.popup button {
	width: 100%;
	margin-top: 25px;
	padding: 8px 0;
	background: #1f7348;
	color: #ffff;
	border: 0;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}


.popup2{
	width: 450px;
	height: 330px;
	background: #ffff;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	text-align: center;
	padding: 0 30px 30px;
	color: #1f7348;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
}

.open-popup2 {
	visibility: visible;
	top: 45%;
	transform: translate(-50%, -50%) scale(1);
}
.popup2 img{
	width: 100px;
	margin-top: -50px;
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	
}
.popup2 button {
	width: 100%;
	margin-top: 25px;
	padding: 8px 0;
	background: #1f7348;
	color: #ffff;
	border: 0;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}


.popup3{
	width: 450px;
	height: 330px;
	background: #ffff;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	text-align: center;
	padding: 0 30px 30px;
	color: #1f7348;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
}

.open-popup3 {
	visibility: visible;
	top: 45%;
	transform: translate(-50%, -50%) scale(1);
}
.popup3 img{
	width: 100px;
	margin-top: -50px;
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	
}
.popup3 button {
	width: 100%;
	margin-top: 25px;
	padding: 8px 0;
	background: #1f7348;
	color: #ffff;
	border: 0;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popup4{
	width: 450px;
	height: 330px;
	background: #ffff;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	text-align: center;
	padding: 0 30px 30px;
	color: #1f7348;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
}

.open-popup4 {
	visibility: visible;
	top: 45%;
	transform: translate(-50%, -50%) scale(1);
}
.popup4 img{
	width: 100px;
	margin-top: -50px;
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	
}
.popup4 button {
	width: 100%;
	margin-top: 25px;
	padding: 8px 0;
	background: #1f7348;
	color: #ffff;
	border: 0;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.popup_rate{
  position: relative;
  width: 400px;
  background: #111;
  padding: 20px 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.popup_rate .post{
  display: none;
}
.popup_rate .text{
  font-size: 25px;
  color: #666;
  font-weight: 500;
}
.popup_rate .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.popup_rate .edit:hover{
  text-decoration: underline;
}
.popup_rate .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
  content: "I just hate it ";
}
#rate-2:checked ~ form header:before{
  content: "I don't like it ";
}
#rate-3:checked ~ form header:before{
  content: "It is awesome ";
}
#rate-4:checked ~ form header:before{
  content: "I just like it ";
}
#rate-5:checked ~ form header:before{
  content: "I just love it ";
}
.popup_rate form{
  display: none;
}
input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus{
  border-color: #444;
}
form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btn button:hover{
  background: #1b1b1b;
}
.place_btn:hover{
	background-color: #73716d !important;
}

	